.left-section {
    text-align: left;
    
}
.left-section img{
    border-radius: 20px;
    height: 20px;
    width: 25px;
}

.first-ul {
    list-style-type: none;
    display: list-item;
}
a:link{
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    background-color: transparent;
    color: blue;
}

a:hover{
    color: black;
}


i:hover{
    color: red;
}

.second-ul{
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    display: list-item;
}
.second-ul img{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    padding: 5px;
    align-items: center;
}

li:hover{
    color: black;
}

.second-ul p{
    font-size: small;
}

.footer ul{
    font-size: xx-small;
    list-style-type: none;
    display: flex;
    align-items: center;
    width: 20%;
    padding: 5px;
    justify-content: space-between;
}