.left-section {
    box-sizing: border-box;
    width: 200px;
    text-align: left;
    width: 25%;
    overflow-y: scroll;
    padding: 5px;
    
}
.left-section img{
    border-radius: 20px;
    height: 20px;
    width: 25px;
}

.first-ul {
    list-style-type: none;
    display: list-item;
}
a:link{
    text-decoration: none;
    font-family: inherit;
    background-color: transparent;
    color: #050505;
    font-size: small;
}

a:hover{
    color: black;
}


i:hover{
    color: red;
}

.second-ul{
    align-items: center;
    font-family: inherit;
    list-style-type: none;
    display: list-item;
    font-size: small;
}
.second-ul img{
    width: 30px;
    height: 30px;
    border-radius: 7px;
    padding: 5px;
    align-items: center;
}

li:hover{
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
}

.second-ul p{
    font-size: small;
}

.footer ul{
    font-size: xx-small;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}