.main-section{
    height: 80vh;
    overflow-y: auto;
    width: 52vw;
    position: absolute;
    left: 25%;
    right: 25%;
    
}
.story{
    box-sizing: border-box;
    position: relative;
    left: 15%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 18px;
}

.text-inside-story{
display: flex;
width: 10px;
height: 10px;
}
.story img{
    margin: 5px;
    width : 112px;
    height: 211px;
}
