.nav-section{
    top: 0px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    transform: translateX(0%);
    padding: 4px 0%;
    width: 99vw;
    height: 7vh;
    box-sizing: border-box;
    margin: 0px;
    opacity: 1.0;
}
.left-nav-bar, .right-nav-bar, .middle-nav-bar{
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: auto;
    align-items: center;
}
.middle-nav-bar{
    width: 40%;
}
.left-nav-bar{
    width: 30%;
    padding: 10px;
    margin-left: 15px;
}
.right-nav-bar{
    width: 30%;
    opacity: 1.0;
}

.left-nav-bar a i{

    width: 35px;
    align-items: center;
}

.left-nav-bar #searchicon {
    color: grey;
    width: 10px;
    height: 21px;
    position: absolute;
    left: 5%;
    
}


.left-nav-bar input {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 9px;
    outline: none;
    text-align: center;
    border: 0;
    border-radius: 20px;
    position: absolute;
    margin: 3%;
}

.middle-nav-bar:hover{
    background-color : rgb(240,242,245);
}


.right-nav-bar:hover{
    background-color: rgb(240,242,245);
}
.right-nav-bar img,i{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}
.right-nav-bar button{
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    font-family: inherit;
    border: none;
    padding: 8px;
    font: bold;
    margin-left: 100px;
}
.material-icons {
    color: blue;
}