.nav-section{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 5%;
    height: 45px;
}
.left-nav-bar, .right-nav-bar, .middle-nav-bar{
    align-items: center;
    position: sticky;
    display: flex;
}
.left-nav-bar a i{

    width: 35px;
    align-items: center;
}

.left-nav-bar #searchicon {
    color: grey;
    width: 18px;
}

.left-nav-bar input {
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
    border-radius: 20px;
}

.middle-nav-bar:hover{
    background-color : rgb(240,242,245);
}


.right-nav-bar:hover{
    background-color: rgb(240,242,245);
}
.right-nav-bar img,i{
    width: 25px;
    height: 25px;
    border-radius: 20px;
    display: flex;
    padding: 10px;
}
.right-nav-bar button{
    align-items: center;
    background-color: rgb(240,242,245);
    border: 0.2;
    border-radius: 20px;
    font: bold;
}
.material-icons {
    color: blue;
}