
.right-section{
    display: grid;
    box-sizing: border-box;
    /* padding: 10px; */
    font-family: inherit;
    top: 4%;
    margin-top: 0px;
    justify-content: center;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.contacts{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contacts i{
    cursor: pointer;
}
.right-section img{
    width: 25px;
    height: 25px;
    border-radius: 10px;
    padding-right: 5px;
    margin-left: 0px;
    margin-top: 10px;
}
 .right-section ul{
    list-style-type: none;
 }
 .icons{
    padding-bottom: 20px;

 }
 .contacts > .material-icons{
     margin-top: 8px;
 }
